 
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
    background-image: url("https://images.squarespace-cdn.com/content/v1/582652888419c24bb250e196/1559309451779-66EGGFEVB3XGKG14ITM0/90s_background.jpg?format=1500w");
    background-repeat: none;
    

    
}
h1{
    color: teal;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 3px;
}
h2{
    display: block;
    text-align: center;
    font-size: 1.3rem;
    padding: 15px;
    color: rgb(69, 66, 66)
}
h3{
    display: block;
    text-align: center;
    font-size: 1.3rem;
    padding: 15px;
    color: rgb(69, 66, 66)
}

 .startButton, .startPage{ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
 
    
.startPage{
    width: 29.1rem;
    height: 21.3rem;
    background-color: aliceblue;
    border-radius: 5%;
}
.endPage{
    width: 29.1rem;
    height: 21.3rem;
    background-color: aliceblue;
    border-radius: 5%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

.endPage h2{
    font-size: 3rem;
}


.startPage .startText{
    height: 9rem;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid lightslategray;
}
.endPage .endText{
    height: 3rem;
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.endText{
    text-align: center;
    margin-top: 25px;
}

.gameButtons{
    padding: 0.2rem;
    font-size: 1.1rem;
    border-radius: 5px;
    
}

.startButton a{

    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    padding: 1.3rem;
    width: 70px;
    border-radius: 7px;
    background-color: teal;
 }


 #start:hover {
    cursor: pointer;
    transform: scale(-0.5);
    box-shadow:  0 0.9rem 2rem 0 black;
    transform: translateY(-0.2rem);
    transition: transform 150ms;
    
}

#start:active {
    box-shadow: 0 0.1rem rgb(28, 1, 1);
    transform: translateY(-.02px);
}


.startPage .gameButtons{
    text-decoration: none;
    background: teal;
    color: aliceblue;
    display:flex;
    justify-content: center;
    margin: 0px 12px 12px;
    width: 30%;
}
.endPage .gameButtons{
    text-decoration: none;
    background: teal;
    color: aliceblue;
    display:flex;
    justify-content: center;
    margin: 18px 12px 12px;
    width: 30%;
}


.buttons{
    display: flex;
    justify-content: center;

    
}

 .gameButtons:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow:  0 0.4rem 1.4rem 0 black;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.gameButtons:active {
    box-shadow: 0 0.1rem rgb(68, 67, 67);
    transform: translateY(4px);
  }

.submit{
    text-align: center; 
    
}

#submitButton{
    padding: 2px;
}

#submitButton:active{
    box-shadow: 0 0.1rem rgb(68, 67, 67);
    transform: translateY(4px);
}

#usernameBox{
    font-size: 0.9rem;
    outline: 2px;
    padding: 2px;
}